<!doctype html>
<html lang="en">
  <head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="msvalidate.01" content="A9EB94CFC82159696FB884FC01B6F306" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />

    <title>{% block title %} Apple Products India {% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    
  </head>
  <body class="d-flex flex-column min-vh-100">

    <div class="d-flex flex-column flex-md-row flex-column justify-content-around align-items-center bg-light p-3">
        <div>
            <h1 class="display-4">
                <a href="{% url 'home' %}">Apple India Products</a>
            </h1>
            <p class="lead">Compare Apple products in India with various Apple Resellers.</p>
        </div>
        <div>
            <a href="https://www.icicibank.com/Personal-Banking/loans/consumer-finance/index-revamp.page" target="_blank">
                <img class="img-thumbnail" src="https://apple-ind.s3.ap-south-1.amazonaws.com/images/icici-offer-24-month-no-cost-emi.jpg" alt="ICICI Offer - 24 months no cost EMI on Apple Products" style="width:608px; height:280px"/>
            </a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand d-none" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/mac' %}active{% endif %}" href="{% url 'viewAllMacs' %}">Mac</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/iphone' %}active{% endif %}" href="{% url 'viewAlliPhones' %}">iPhone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/ipad' %}active{% endif %}" href="{% url 'viewAlliPads' %}">iPad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/watch' %}active{% endif %}" href="{% url 'viewAllWatches' %}">watch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/resellers' %}active{% endif %}" href="{% url 'viewResellers' %}">Resellers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/service' %}active{% endif %}" href="{% url 'viewService' %}">Service Centers</a>
                    </li>

                    <li class="nav-item dropdown d-none">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DropDown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>    

    <div class="container flex-grow-1">
        {% block content %}{% endblock %}
    </div>
      
    {% include "footer.html" %}

  </body>
</html>
